{% extends 'BlackEventBundle:AdminEvent:base.html.twig' %}
{% block content_top %}
    {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "event.admin.contentTop.edit.text"} %}
{% endblock %}
{% block page_content %}
<div class="fluid">

    <form id="validate" class="main" action="{{ path(admin_edit, { 'id': document.id }) }}" method="post" {{ form_enctype(form) }}>
        {% include 'BlackAdminBundle:AdminForm:fieldset.html.twig' with {'form': form, 'title': 'event.admin.edit.event.text'} %}
    </form>
    {% include 'BlackAdminBundle:AdminForm:actions.html.twig' with {'document': document} %}
    {% include 'BlackEventBundle:AdminEvent:js.html.twig' with {'form': form} %}
</div>
{% endblock %}