{% extends 'BlackroomAdminBundle::base.html.twig' %}
{% block body %}

    {% include 'BlackroomAdminBundle:Admin:header.html.twig' %}
    {% include 'BlackroomAdminBundle:Admin:sidebar.html.twig' %}
    {% include 'BlackroomEventBundle:AdminEvent:sidebar.html.twig' %}
    <!-- todo: prise en charge de la pagination -->

    {% set admin_edit = 'admin_event_edit' %}
    {% set admin_delete = 'admin_event_delete' %}

    <div id="content">

        {% include 'BlackroomAdminBundle:Admin:contentTop.html.twig' with {'title': "event.admin.event.sidebar.list.span"} %}
        {% include 'BlackroomEventBundle:AdminEvent:breadLine.html.twig' with {'route': 'admin_event_new', 'text': "event.admin.shortcut.new"} %}

        <!-- Main content -->
        <div class="wrapper">

            {% include 'BlackroomAdminBundle:Admin:flashes.html.twig' with {'flashes': app.session.getFlashes()} %}

            <form id="validate" class="main grid9" action="{{ path('admin_event_batch') }}" method="post">
                <div class="fluid">
                    <div class="widget check">
                        <div class="whead">
                            <span class="titleIcon"><input type="checkbox" id="titleCheck" name="titleCheck" /></span>
                            <h6>{% trans %}event.admin.event.title{% endtrans %}</h6>
                            <div class="clear"></div>
                        </div>

                        {% include 'BlackroomAdminBundle:AdminTable:table.html.twig' with {'documents': documents, 'csrf': csrf} %}
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}