{% extends 'BlackroomAdminBundle::base.html.twig' %}
{% block body %}

    {% include 'BlackroomAdminBundle:Admin:header.html.twig' %}
    {% include 'BlackroomAdminBundle:Admin:sidebar.html.twig' %}
    {% include 'BlackroomEventBundle:AdminEvent:sidebar.html.twig' %}

    {% set title = "event.admin.new.title" %}
    {% set admin_index = 'admin_events' %}
    {% set admin_delete = 'admin_event_delete' %}

    <div id="content">
        {% include 'BlackroomAdminBundle:Admin:contentTop.html.twig' with {'title': "event.admin.new.title"} %}
        {% include 'BlackroomEventBundle:AdminEvent:breadLine.html.twig' with {'route': 'admin_event_new', 'text': "event.admin.new.title"} %}

        <!-- Main content -->
        <div class="wrapper">

            {% include 'BlackroomAdminBundle:AdminForm:errors.html.twig' with {'form': form} %}
            {% include 'BlackroomAdminBundle:Admin:flashes.html.twig' with {'flashes': app.session.getFlashes()} %}

            <div class="fluid">

                <form id="validate" class="main grid9" action="{{ path('admin_event_new') }}"  method="post" {{ form_enctype(form) }}>
                    <fieldset>
                        {% include 'BlackroomAdminBundle:AdminForm:fieldset.html.twig' with {'form': form} %}
                    </fieldset>
                </form>

                {% include 'BlackroomAdminBundle:AdminForm:actions.html.twig' %}

                <div class="grid3">
                    <div class="divider"><span></span></div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        var contactCount = '{{ form.subEvents | length }}';

        jQuery(document).ready(function() {
            jQuery('#blackroom_event_event_subEvents').children('.formRow').each(function() {
                addTagFormDeleteLink($(this));
            });

            jQuery('#add-another-event').click(function() {
                var addressList = jQuery('#blackroom_event_event_subEvents');

                var newWidget = addressList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, contactCount);
                contactCount++;

                var newLi = jQuery('<li></li>').html(newWidget);
                newLi.appendTo(jQuery('#blackroom_event_event_subEvents'));

                return false;
            });
        })

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#">{% trans %}Remove this contact point{% endtrans %}</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();
                $tagFormLi.remove();
            });
        }
    </script>

{% endblock %}