{% extends 'BlackEventBundle:AdminEvent:base.html.twig' %}
{% block content_top %}
    {% include 'BlackAdminBundle:Admin:contentTop.html.twig' with {'title': "event.admin.contentTop.show.text"} %}
{% endblock %}
{% block page_content %}
<div class="fluid" itemscope itemtype="http://schema.org/Event">

    <div class="widget grid3">

        <div class="whead">
            <h6>{% trans from "views" %}event.admin.show.informations.text{% endtrans %}</h6>
            <div class="titleOpt">
                <a href="#" data-toggle="dropdown"><span class="icos-cog3"></span><span class="clear"></span></a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="{{ path('admin_event_edit', { 'id': document.id }) }}" class="" title="{% trans from "views" %}event.admin.show.edit.a.title{% endtrans %}">
                            <span class="icos-pencil"></span>{% trans from "views" %}event.admin.show.edit.a.text{% endtrans %}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div class="body">
            <p>
                <span itemprop="name"><strong>{{ document.name }}</strong></span><br />
                {% trans with {'%registered%': attendees|length } from "views" %}event.admin.show.attendees.registered.text{% endtrans %}
            </p>
        </div>

    </div>

    <div class="fluid grid9">
        <div class="widget">
            <div class="whead"><h6>{% trans from "views" %}event.admin.show.notes.text{% endtrans %}</h6><div class="clear"></div></div>
            <div class="body" itemprop="description">
                {% if document.description %}
                    {{ document.description }}
                {% else %}
                    <p class="textC">{% trans from "views" %}event.admin.show.notes.empty.text{% endtrans %}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="clear"></div>

    
    {% set admin_index = 'admin_persons' %}
    {% set admin_delete = 'admin_person_delete' %}
    {% set admin_edit = 'admin_person_edit' %}
    {% set admin_new = 'admin_person_new' %}
    {% set admin_show = 'admin_person_show' %}

    <form id="validate" class="main" action="{{ path('admin_person_batch') }}" method="post">
        <div class="fluid">
            <div class="widget check">
                <div class="whead">
                    <span class="titleIcon"><input type="checkbox" id="titleCheck" name="titleCheck" /></span>
                    <h6>{% trans from "views" %}event.admin.show.attendees.text{% endtrans %}</h6>
                    <div class="clear"></div>
                </div>

                {% include 'BlackEngineBundle:AdminPerson:table.html.twig' with {'documents': attendees, 'csrf': csrf} %}
            </div>
        </div>
    </form>

</div>
{% endblock %}
